# Ignore all .terraform directories
**/.terraform/

# Ignore all .tfstate files
**/*.tfstate
**/*.tfstate.backup

# Crash log files
**/*.log
**/*.tfcrash
**/*.crash

# Terraform variable files
**/*.tfvars
**/*.tfvars.json

# Plan files
**/*.plan

# Local CLI configuration
**/.terraform.lock.hcl

# Ignore terraform state folder used by CLI workspaces
**/terraform.tfstate.d/

# MacOS
.DS_Store
